<template name="ContactDetailsMain">
	<div class="row">
		<h1>Contact Details</h1>
	</div>
	<div class="row">
		<form id="edit_contact_form">
		</form>
		<table class="table table-striped table-hover">	
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>First Name</td>
					{{#if edit_mode}}
						<td><input type="text" name="firstname" placeholder="firstname" form="edit_contact_form" value={{firstname}}></td>
					{{else}}
						<td>{{ firstname }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Last Name</td>
					{{#if edit_mode}}
						<td><input type="text" name="lastname" placeholder="lastname" form="edit_contact_form" value={{lastname}}></td>
					{{else}}
						<td>{{ lastname }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Sex</td>
					{{#if edit_mode}}
						<td><input type="text" name="sex" placeholder="sex" form="edit_contact_form" value={{sex}}></td>
					{{else}}
						<td>{{ sex }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Birthday</td>
					{{#if edit_mode}}
						<td><input type="text" name="birthday" placeholder="birthday" form="edit_contact_form" value={{birthday}}></td>
					{{else}}
						<td>{{ birthday }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Phone</td>
					{{#if edit_mode}}
						<td><input type="text" name="phone" placeholder="phone" form="edit_contact_form" value={{phone}}></td>
					{{else}}
						<td>{{ phone }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Email</td>
					{{#if edit_mode}}
						<td><input type="text" name="email" placeholder="email" form="edit_contact_form" value={{email}}></td>
					{{else}}
						<td>{{ email }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Facebook</td>
					{{#if edit_mode}}
						<td><input type="text" name="facebook" placeholder="facebook" form="edit_contact_form" value={{facebook}}></td>
					{{else}}
						<td>{{ facebook }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Linkedin</td>
					{{#if edit_mode}}
						<td><input type="text" name="linkedin" placeholder="linkedin" form="edit_contact_form" value={{linkedin}}></td>
					{{else}}
						<td>{{ linkedin }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Line</td>
					{{#if edit_mode}}
						<td><input type="text" name="line" placeholder="line" form="edit_contact_form" value={{line}}></td>
					{{else}}
						<td>{{ line }}</td>
					{{/if}}
				</tr>
				<tr>
					<td>Wechat</td>
					{{#if edit_mode}}
						<td><input type="text" name="wechat" placeholder="wechat" form="edit_contact_form" value={{wechat}}></td>
					{{else}}
						<td>{{ wechat }}</td>
					{{/if}}
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-primary btn-edit">
							<i class="fa fa-pencil-square-o"></i>
						</button>
						{{#if edit_mode}}
							<input class="btn btn-success btn-update" type="submit" value="Update" form="edit_contact_form">
						{{/if}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>